.li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #382f5a;

  height: 50px;
  width: 45%;
  margin-bottom: 15px;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #c4c4c4;
  height: 100%;
  width: 100%;
}
